/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/01/2021, 07:19:32 PM
    Author     : kat
*/
html {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
}

.contenedor{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.ins {
    width: 50%;
    background-color: lightpink;
}

.hex{
    width: 50%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
}

.inputs{
    background-color: lightcoral;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.number{
    display: block;
    margin: auto;
}

.buttons{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.lineaction{
    display: block;
    margin: auto;
}

.hexaction{
    
}

.hexadiagram{
    background-color: lightseagreen;
    display: block;
    margin: auto;
}
  
h1.toptitle{
    text-align: center;
    font-size: 2em;
    border: 10px;
    border-color: black;
}
  
.box{
    background-color: white;
    width: 20%;
    margin: auto;
    border: 2px black solid;
}

table{
    margin: auto;
    width: 80%;
    border: 2px solid black;
}

td{
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

