/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/01/2021, 07:19:32 PM
    Author     : kat
*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #f2f2f2;
}

.contenedor{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.ins {
    width: 40%;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 3px 3px 20px grey;
}

.hex{
    width: 40%;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 3px 3px 20px grey;    
}

.inputs{
    background-color: lightcoral;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
}

.number-input{
    display: block;
    margin: auto;
    font-size: 45px;
    width: 20%;
}

.buttons{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.lineaction{
    display: block;
    margin: auto;
}

.hexaction{
    
}

.hexadiagram{
    background-color: lightseagreen;
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Roboto Black', sans-serif, '900';
    font-size: 70px;
}

b {
    font-family: 'Roboto Black', sans-serif, '900';
    font-size: 45px;
}
    
.box{
    background-color: white;
    margin: auto;
    border-radius: 15px;
    padding: 30px;
    width: 24.99999%;
    box-shadow: 3px 3px 20px grey;
}


table{
    margin: auto;
    width: 80%;
    border: 2px solid black;
}

td{
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

